@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: DmSans;
    src: url("./assets/fonts/DMSans-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: DmSans;
    scroll-behavior: smooth;
}
